body{
    background-color: #b63e2b;
}
.Box{
    font-size: 30px;
    font-weight: bold;
    background-color: wheat;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: auto;
    height: auto;
    padding: 5px;   
    margin: auto;
    overflow: auto;
    display: flex;
}

.Box img{
width: 100px;
height: 90px;
}    

.Overskrift{
    position: relative;
    text-align: center;
    left: -52px;
    margin: auto;
}

button{
    background-color: wheat;
    display: inline-block;
    font-size: large;
    text-transform: uppercase;
    font-family: initial;
    font-weight:bold;
}

#OverskriftButtons{
    color: wheat;
    text-align: center;
    font-family: monospace;
}

#resultatAnnonsering {
    
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

#kilder{
text-transform: uppercase;
margin-top: 366px;
font-size: 15px;
color: lightskyblue;

}
.Kilde{
color: lightsteelblue;
}

#Progress_Status {
    width: 25%;
    position: relative;
    top:60px;
    left: 575px;
    background-color: #ddd;
    border-style: solid;
    border-width: 2px;
    border-color: wheat;
        }
        
    #myProgressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
        }
